.title { 
    width: 150px;
    height: 50px;
    padding-top: 30px;
    margin: 0 auto;
}

.body {
    background-color: #222629;
    color: white;
}

.link {
    color: white;
}

.containers {
    margin-top: 30px;
}

.lang {
    width: 60px;
    margin-left: auto;
    margin-right: 70px;
}