<mat-toolbar class="body">
  <a class="link" routerLink="">
    <span>{{'App.title' | translate}}</span>
  </a>
  <div class="lang">
    <mat-label>{{'App.language' | translate}}</mat-label>
    <mat-select #langselect (selectionChange)="translate.use(langselect.value)" class="lang-dropdown">
      <mat-option *ngFor="let ln of translate.getLangs()" hidden [value]="ln">
        {{ ln }}
      </mat-option>
    </mat-select>
  </div>
</mat-toolbar>
<div class="containers">
  <router-outlet></router-outlet>
</div>