<div class="modal">
  <h1 mat-dialog-title>{{data.action}}</h1>
  <div class="container">
    <form [formGroup]='formGroup' mat-dialog-content class="column-group">
      <mat-dialog-content>
        <input type="hidden" [hidden]="note.noteId">

        <mat-form-field>
          <input matInput placeholder='{{"Note.Content" | translate}}' type="string" formControlName="content"
            [(ngModel)]="note.content">
            <mat-error *ngIf="formGroup.controls.content.invalid">{{getContentErrorMessage()}}</mat-error>

        </mat-form-field>

      </mat-dialog-content>
      <button mat-raised-button id="submit" type="submit" (click)="submit(note)" color="primary">{{"App.Save" | translate}}</button>
    </form>
    <div mat-dialog-actions>
      <button mat-raised-button id='close' class="close" (click)="onCancelClick()" color="warn">{{"App.Cancel" | translate}}</button>
    </div>
  </div>
</div>